body{
    background-color: #e6edff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    padding-bottom: 3em;
    height:50vh;
}
.container p{
    border-radius: 10px;
    padding: 1em 2em;
    margin: 1em;
    text-align: center;
    background-color: #e6edff;
}
.container p:hover{
    scale: 1.1;
    cursor: pointer;
}
.main-input{
    grid-column: 1/ span 4;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: right;
    padding-right: 1em;
    line-height: 70px;
    background-color: #e6edff;
    height: 7vh;
}
.clear{
    &:hover{
        cursor: pointer;
    }   
}